$bgClr: hsl(213, 16%, 14%);
$primaryClr: hsl(180, 2%, 88%);

$secondaryClr: hsl(26, 96%, 56%);
//hover
$secondaryClrHover: hsla(26, 90%, 56%, 1);
//Focus
$secondaryClrFocus: hsla(26, 90%, 53%, 1);

.bookSection {
  // min-height: calc(100vh - (4vh + 8vh));
  min-height: calc(100vh - (7rem));
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.bookViewContainer {
  //   background-color: $primaryClr;
  width: min(90%, 60rem);

  // height: 40rem;
  height: auto;
  min-height: 21rem;
  // padding: 2rem 3rem;
  display: flex;
  justify-content: space-around;
  // justify-content: center;
  align-items: flex-start;
  img {
    width: 11rem;
    height: 15rem;
    background-color: $primaryClr;
    color: $bgClr;
    border: 2px solid $bgClr;
    border-radius: 10px;

    font-size: 1.25rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
  }
  p {
    // background-color: red;
    // max-height: 6.5rem;
    // width: 30rem;
    // white-space: nowrap;
    font-size: 1rem;
    white-space: pre-line; // json break line
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin: 0;
  }
  .line {
    // background-color: $primaryClr;
    min-height: 15rem;
    width: 0.15rem;
    margin: 0.5rem; //1.5rem
  }
  .rating {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.6rem 0;
    padding: 0;
    // height: 1rem;
    width: 7.5rem;
    svg {
      height: 100%;
      color: $secondaryClr;
    }
    .number {
      position: absolute;
      right: 0;
      top: -4px;
    }
  }

  .leftView {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // width: 11rem;
    // height: 100%;
    .insideLeftView {
      // padding: 2rem 0;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        margin-top: 1.8rem;
      }
      svg {
        margin-top: 0.5rem;
        font-size: 2.5rem;
        &:hover {
          transition: 0.3s;
          color: hsla(26, 90%, 56%, 1);
        }
      }
    }
  }
  .rightView {
    position: relative;
    margin: 0;
    padding: 0;
    .author {
      font-size: 1.1rem;
    }
    .more {
      // position: absolute;
      cursor: pointer;
      color: $secondaryClr;
      background-color: white;
      // border-left: 1px solid $primaryClr;
      // border-radius: 0px;
      padding-left: 0.5rem;
      right: 1px;
      width: 4rem;
      bottom: 0px;
      &:hover {
        color: $secondaryClrHover;
      }
      &:focus {
        color: $secondaryClrFocus;
      }
    }
  }

  .mobileView {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 25rem;
    // background-color: red;
  }
  .frontView {
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // justify-content: center;
    align-items: flex-start;
    width: 100%;
    .insideLeftView {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        margin-top: 1.5rem;
        height: 14rem;
        width: 10rem;
      }
      svg {
        margin-top: 0.5rem;
        font-size: 2.5rem;
      }
    }
    .insideRightView {
      position: relative;
      margin: 0;
      padding: 0;
      .author {
        font-size: 1.1rem;
      }

      h1 {
        position: relative;
        svg {
          margin-left: 0.5rem;
          font-size: 2rem;
          position: absolute;
          top: 0px;
          &:hover {
            transition: 0.3s;
            color: hsla(26, 90%, 56%, 1);
          }
        }
      }
      .small-fav {
        svg {
          font-size: 2rem;
          &:hover {
            transition: 0.3s;
            color: hsla(26, 90%, 56%, 1);
          }
        }
      }
    }
  }
  .backView {
    p {
      margin-top: 1rem;
      font-size: 1rem;
      white-space: pre-line; // json break line
      // overflow: hidden;
      // text-overflow: ellipsis;
      // position: relative;
      // margin: 0;
    }
    .more {
      // position: absolute;
      cursor: pointer;
      color: $secondaryClr;
      background-color: white;
      // border-left: 1px solid $primaryClr;
      // border-radius: 0px;
      padding-left: 0.5rem;
      right: 1px;
      width: 4rem;
      bottom: 0px;
      &:hover {
        color: $secondaryClrHover;
      }
      &:focus {
        color: $secondaryClrFocus;
      }
    }
  }
}

.lineX {
  background-color: $primaryClr;
  height: 0.15rem;
  width: min(100%, 60rem);
  margin-top: 1rem;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
