.wrapper {
  width: min(100%, 70rem);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home {
  min-height: 88vh;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: hsl(213deg, 16%, 14%);
}

.carousel-section {
  width: 100vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 225, 225);
}

.carousel {
  background-color: rgb(224, 225, 225);
  width: min(100%, 70rem);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35vh;
  background-color: rgb(224, 225, 225);
}
.inner-carousel .item {
  padding: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  min-width: 15rem;
  height: 90%;
}
.inner-carousel .item img {
  cursor: pointer;
  border: 2px solid hsl(213deg, 16%, 14%);
  border-radius: 0.5rem;
  width: 11rem;
  height: 70%;
  pointer-events: visible;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(213deg, 16%, 14%);
}
.inner-carousel .item .card-cont {
  text-align: center;
  height: 30%;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner-carousel .item .card-cont h3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 80%;
  width: 100%;
}
.inner-carousel .item .card-cont h4 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 20%;
}
.inner-carousel .item .card-cont h4 span {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  color: hsl(26deg, 96%, 56%);
  font-size: 1rem;
}

.arrow {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: hsl(213deg, 16%, 14%);
  z-index: 1;
}

.arrow > * {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
.arrow > *:hover {
  color: hsl(26deg, 90%, 56%);
}
.arrow > *:focus {
  color: hsl(26deg, 90%, 53%);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.main {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .books-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.main .item {
  position: relative;
  border-color: rgb(224, 225, 225);
  border-style: solid;
  border-width: 0.5px 1px;
  margin-bottom: -1px;
  margin-left: -1px !important;
  margin-right: 0 !important;
  margin-top: 0;
  padding: 15px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 18rem;
}
.main .item .itemOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  box-shadow: 1px -131px 96px -112px hsla(213deg, 16%, 14%, 0.2) inset;
  -webkit-box-shadow: 1px -131px 96px -112px hsla(213deg, 16%, 14%, 0.2) inset;
  -moz-box-shadow: 1px -131px 96px -112px hsla(213deg, 16%, 14%, 0.2) inset;
}
.main .item:hover .itemOverlay {
  opacity: 1;
}
.main .item .overlayContainer {
  position: absolute;
  z-index: 2;
  bottom: -15px;
  width: 100%;
  height: 20%;
  opacity: 1;
  transition: 0.5s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .item .overlayContainer svg {
  font-size: 2rem;
}
.main .item img {
  border: 2px solid hsl(213deg, 16%, 14%);
  border-radius: 0.5rem;
  width: 11rem;
  height: 70%;
  pointer-events: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(213deg, 16%, 14%);
}
.main .item .card-cont {
  text-align: center;
  height: 30%;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .item .card-cont h3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 80%;
  width: 100%;
}
.main .item .card-cont h4 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 20%;
}
.main .item .card-cont h4 span {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  color: hsl(26deg, 96%, 56%);
  font-size: 1rem;
}
.main .emptyHome {
  min-height: 49vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .emptyHome .shelfStyle {
  width: min(50%, 452px);
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .emptyHome .emptyTitle {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main .emptyHome .emptyTitle h1 {
  margin: 0;
  padding: 0;
}
.main .emptyHome .emptyTitle p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.main .emptyHome .emptyCategories {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(213deg, 16%, 14%);
  border-radius: 1rem;
  color: rgb(224, 225, 225);
}
.main .emptyHome p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .emptyHome h1 {
  font-size: 1.8rem;
  text-align: center;
}
.main .emptyHome span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: min(100%, 64rem);
  height: 1px;
  border-radius: 8px;
}

.books-category {
  position: relative;
  width: 100vw;
  height: calc(2rem + 3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 225, 225);
}

.books-carousel {
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
  background-color: rgb(224, 225, 225);
  background-color: hsl(213deg, 16%, 14%);
  width: min(100%, 70rem);
  height: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.books-carousel .arrow {
  background-color: hsl(213deg, 20%, 20%);
  color: rgb(224, 225, 225);
}
.books-carousel .left {
  border-right: 1px solid hsla(213deg, 16%, 14%, 0.3);
  box-shadow: 10px 0px 20px 0px hsla(213deg, 16%, 14%, 0.2);
  border-right: 1px solid hsla(180deg, 2%, 88%, 0.3);
}
.books-carousel .right {
  border-left: 1px solid hsla(213deg, 16%, 14%, 0.3);
  box-shadow: -10px 0px 20px 0px hsla(213deg, 16%, 14%, 0.2);
  border-left: 1px solid hsla(180deg, 2%, 88%, 0.3);
}

.books-inner-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.books-inner-carousel button {
  border: none;
  font-size: 0.88rem;
}

.genre {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageSwitcher {
  color: hsl(213deg, 16%, 14%);
  padding: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageSwitcher ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  list-style-type: none;
}
.pageSwitcher li {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 225, 225);
  border-radius: 50%;
  margin-right: 10px;
  width: 3rem;
  height: 3rem;
}
.pageSwitcher li:hover {
  transition: 200ms linear;
  background-color: hsl(26deg, 96%, 56%);
}
.pageSwitcher input {
  background-color: hsl(26deg, 96%, 56%);
  color: hsl(213deg, 16%, 14%);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
}
.pageSwitcher input:focus {
  border: 2px solid hsl(213deg, 16%, 14%);
  outline: none;
}
.pageSwitcher li > * {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}
.pageSwitcher li svg {
  font-size: 2rem;
}
.pageSwitcher .choose svg {
  font-size: 1.75rem;
}
.pageSwitcher .active {
  position: relative;
}
.pageSwitcher .active a {
  position: absolute;
  top: 2px;
}
.pageSwitcher .page {
  position: relative;
}
.pageSwitcher .page a {
  position: absolute;
  top: 2px;
}
.pageSwitcher .last {
  position: relative;
}
.pageSwitcher .last a {
  position: absolute;
  top: 2px;
}
.pageSwitcher a {
  color: hsl(213deg, 16%, 14%);
}
.pageSwitcher .active {
  background-color: hsl(26deg, 96%, 56%);
}
.pageSwitcher .next {
  margin-right: 0;
}

.shelfSection {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: hsl(213deg, 16%, 14%);
  min-height: 88vh;
}
.shelfSection .header {
  position: relative;
  background-color: rgb(224, 225, 225);
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shelfSection .header h1 {
  margin: 0;
  padding: 0;
  color: hsl(213deg, 16%, 14%);
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 2rem;
}
.shelfSection .header .line {
  position: absolute;
  bottom: 0;
  border-radius: 5rem;
  height: 2px;
  width: min(100%, 70rem);
  background-color: hsl(213deg, 16%, 14%);
}
.shelfSection .books-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.shelfSection .item {
  position: relative;
  border-color: rgb(224, 225, 225);
  border-style: solid;
  border-width: 0.5px 1px;
  margin-bottom: -1px;
  margin-left: -1px !important;
  margin-right: 0 !important;
  margin-top: 0;
  padding: 15px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 18rem;
}
.shelfSection .item .itemOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  box-shadow: 1px -131px 96px -112px hsla(213deg, 16%, 14%, 0.2) inset;
  -webkit-box-shadow: 1px -131px 96px -112px hsla(213deg, 16%, 14%, 0.2) inset;
  -moz-box-shadow: 1px -131px 96px -112px hsla(213deg, 16%, 14%, 0.2) inset;
}
.shelfSection .item:hover .itemOverlay {
  opacity: 1;
}
.shelfSection .item .overlayContainer {
  position: absolute;
  z-index: 2;
  bottom: -15px;
  width: 100%;
  height: 20%;
  opacity: 1;
  transition: 0.5s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.shelfSection .item .overlayContainer svg {
  font-size: 2rem;
}
.shelfSection .item img {
  border: 2px solid hsl(213deg, 16%, 14%);
  border-radius: 0.5rem;
  width: 11rem;
  height: 70%;
  pointer-events: none;
}
.shelfSection .item .card-cont {
  text-align: center;
  height: 30%;
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shelfSection .item .card-cont h3 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 80%;
  width: 100%;
}
.shelfSection .item .card-cont h4 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 20%;
}
.shelfSection .item .card-cont h4 span {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  color: hsl(26deg, 96%, 56%);
  font-size: 1rem;
}

.emptyShelf {
  height: 88vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyShelf .shelfStyle {
  padding: 0.75rem 3.25rem;
  border-radius: 2.5rem;
  background-color: rgb(224, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyShelf h1 {
  font-size: 2.5rem;
  text-align: center;
}
.emptyShelf span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.toHome {
  overflow: hidden;
  background-color: hsl(213deg, 16%, 14%);
  position: absolute;
  padding-right: 0.2rem;
  padding-left: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  top: 10%;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toHome svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.toHome a {
  color: rgb(224, 225, 225);
  font-weight: bolder;
  font-size: 1.25rem;
}
.toHome a:hover {
  color: hsl(26deg, 90%, 56%);
}
.toHome a:focus {
  color: hsl(26deg, 90%, 53%);
}
.toHome button {
  border: none;
  color: rgb(224, 225, 225);
  background-color: hsl(213deg, 16%, 14%);
  font-weight: bolder;
  font-size: 1.25rem;
}
.toHome button:hover {
  color: hsl(26deg, 90%, 56%);
}
.toHome button:focus {
  color: hsl(26deg, 90%, 53%);
}
.toHome h2 {
  padding: 0;
  margin: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.toHome span {
  font-size: 1.5rem;
}

.pageNotAvailable {
  min-height: 88vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.pageNotAvailable span {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.pageNotAvailable span svg {
  margin: 0;
  padding: 0;
}
.pageNotAvailable h3 {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}
.pageNotAvailable p {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  width: min(452px, 90%);
}

@media screen and (max-width: 930px) {
  .inner-carousel .item {
    min-width: 50%;
  }

  .main .books-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media screen and (max-width: 780px) {
  .main .books-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .main .emptyHome .shelfStyle {
    width: 65%;
  }
  .main .emptyHome .emptyTitle {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .main .item img {
    width: 80%;
  }
  .main .emptyHome .shelfStyle {
    width: 80%;
    padding: 0.75rem 0.75rem;
    border-radius: 2.5rem;
  }
  .main .emptyHome .emptyTitle {
    width: 100%;
  }
  .main .emptyHome h1 {
    font-size: 2rem;
  }

  .emptyShelf h1 {
    font-size: 2rem;
  }
  .emptyShelf span {
    font-size: 3rem;
  }
}
@media screen and (max-width: 545px) {
  .main .books-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  .main .item img {
    width: 65%;
  }
  .main .item .card-cont {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .emptyShelf h1 {
    font-size: 1.8rem;
  }
  .emptyShelf span {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .inner-carousel .item {
    min-width: 100%;
  }

  .main .item img {
    width: 85%;
  }
  .main .item .card-cont {
    width: 90%;
  }
  .main .emptyHome .shelfStyle {
    width: 80%;
    padding: 0rem;
    border-radius: 2rem;
  }
  .main .emptyHome h1 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 400px) {
  .emptyShelf .shelfStyle {
    border-radius: 2rem;
    padding: 0 0.5rem;
  }
  .emptyShelf h1 {
    font-size: 1.8rem;
  }
  .emptyShelf span {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=Home.css.map */