//colors

$bgClr: hsl(213, 16%, 14%);
$primaryClr: hsl(180, 2%, 88%);
$secondaryClr: hsl(26, 96%, 56%);
//hover
$secondaryClrHover: hsla(26, 90%, 56%, 1);
//Focus
$secondaryClrFocus: hsla(26, 90%, 53%, 1);

///////////
// scrollbar
html {
  scrollbar-color: #404449 #f0f0f0;
}

//

button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.wrapper {
  width: min(100%, 70rem);
  // background-color: red;
}
header {
  height: 4.5rem; //8vh
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  background-color: $bgClr;
  color: $primaryClr;

  .header-container {
    height: 100%;
    .btn-search {
      width: 2.5rem;
      // height: 2.5rem;
      height: 100%;
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn-search > * {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 2rem;
      height: 2.5rem;
      // height: 2.5rem;
      color: $primaryClr;

      &:hover {
        color: $secondaryClrHover;
      }
      &:focus {
        color: $secondaryClrFocus;
      }
    }
    a {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primaryClr;
      text-decoration: none;
    }
    // background-color: red;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: $secondaryClr;
    }

    .shelf {
      width: 2.5rem;
      // height: 2.5rem;
      height: 100%;
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .shelf > * {
      // background-color: red;
      width: 2.5rem;
      height: 2.5rem;
    }

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: red;
      width: min(45rem, 60%);
      //   min-width: 10rem;
      // width: 20rem;
      height: 2.5rem;
      margin: 0;
      padding: 0;
      border-radius: 0.4rem;
      overflow: hidden;

      input {
        margin: 0;
        padding: 0;
        padding-left: 0.5rem;
        width: 90%;
        height: 100%;
        border: none;

        font-size: 1rem;

        &:focus {
          outline: none;
        }
      }
      button {
        background-color: $secondaryClr;
        color: $primaryClr;
        font-size: 2rem;
        border: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 10%;
        height: 100%;
        &:hover {
          background-color: $secondaryClrHover;
        }
        &:active {
          background-color: $secondaryClrFocus;
        }
      }
    }
  }
}

footer {
  position: absolute;
  // bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2.5rem; //4vh
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgClr;
  color: $primaryClr;
  h2 {
    margin: 0;
  }
  a {
    color: $secondaryClr;

    &:hover {
      color: $secondaryClrHover;
    }
    &:active {
      color: $secondaryClrFocus;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    .header-container {
      form {
        width: calc(90% - 1.25rem);
        button {
          background-color: white;
          color: $secondaryClr;
          width: 12.5%;
          // padding-right: 5px;
          &:hover {
            background-color: white;
            color: $secondaryClrHover;
          }
          &:active {
            background-color: white;
            color: $secondaryClrFocus;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  header {
    .header-container {
      form {
        margin-right: 0.5rem;
      }
    }
  }
}
